<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to 'edit', edit_item_path(item) %>
    <%= image_tag item.image.url, class: 'img-responsive' %>
    <div class="caption">
      <p><%= link_to item.name, item_path(item) %></p>
      <p>$ <%= item.price %></p>
      <!--<p><%= item.description %></p>-->
      <p></p>
    </div>
  </div>
</div>
