<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-6">
    <%= image_tag "item/01.jpg", class: 'img-responsive' %>
  </div>
  <div class="col-md-6">
    <h1><%= @item.name %></h1>
    <p><%= @item.description %></p>
    <p><%= @item.description %></p>
    <p class="text-center">$ <%= @item.price/100 %></p>
  </div>
</div>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
